# nextcloud caddy config
<domain> {
	header {
		Strict-Transport-Security "max-age=63072000"
	}

	encode gzip

	root * /usr/share/nextcloud
	file_server

	redir /.well-known/carddav /remote.php/dav permanent
	redir /.well-known/caldav /remote.php/dav permanent

	php_fastcgi unix//run/php-fpm/nextcloud.sock {
		env front_controller_active true
	}

	@forbidden {
		path /.htaccess
		path /.xml
		path /3rdparty/*
		path /config/*
		path /console.php
		path /data/*
		path /db_structure
		path /lib/*
		path /occ
		path /README
		path /templates/*
	}
	respond @forbidden 404
}

# cockpit config
<domain> {
	reverse_proxy /<secret-url>/* 127.0.0.1:9090
}

# manual letsencrypt
<domain> {
	tls /etc/letsencrypt/live/<domain>/fullchain.pem /etc/letsencrypt/live/<domain>/privkey.pem {
		protocols tls1.3
	}
}
